In [32]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shahrukh khan\anaconda3\lib\site-packages (8.0.29)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf>=3.0.0 in c:\users\shahrukh khan\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [33]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() #create a curser to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
        mydb.close()
        print(str(e))

[('amazon',), ('breast_cancer_db',), ('company',), ('information_schema',), ('intro_sql',), ('join_sql',), ('lic',), ('my_sqlsql',), ('mysql',), ('new_telco',), ('performance_schema',), ('srkkhansahab',), ('student',), ('sys',), ('titanic',), ('zomato',)]

In [34]:
import mysql.connector as connection

In [35]:
conn = connection.connect(host= "localhost", user= "root",passwd="srk123",use_pure= True)

In [36]:
cur = conn.cursor()

In [37]:
cur.execute("create database LIC")

DatabaseError: 1007 (HY000): Can't create database 'lic'; database exists

In [38]:
cur.execute("show databases")

In [39]:
res = cur.fetchall()

In [40]:
res

[('amazon',),
 ('breast_cancer_db',),
 ('company',),
 ('information_schema',),
 ('intro_sql',),
 ('join_sql',),
 ('lic',),
 ('my_sqlsql',),
 ('mysql',),
 ('new_telco',),
 ('performance_schema',),
 ('srkkhansahab',),
 ('student',),
 ('sys',),
 ('titanic',),
 ('zomato',)]

In [41]:
for i in res:
    print(i[0])

amazon
breast_cancer_db
company
information_schema
intro_sql
join_sql
lic
my_sqlsql
mysql
new_telco
performance_schema
srkkhansahab
student
sys
titanic
zomato

In [42]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "create database  LIC ;"
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    print("(Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'lic'; database exists

In [43]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\shahrukh khan\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\shahrukh khan\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [44]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost",database = "LIC", user= "root",passwd="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "CREATE TABLE POLICY (POLICYid int(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR (60),"\
    "LastName VARCHAR(60),RegistrationDate DATE,Class int(12),Section Varchar(10))"
    
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    print("(table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'policy' already exists

In [45]:
mydb = connection.connect(host= "localhost",database = "LIC", user= "root",passwd="srk123",use_pure= True)

In [46]:
mydb.is_connected()

True

In [47]:
cur = mydb.cursor()
cur.execute("create table  pddetails (x1 int(5), x2 varchar(20),x3 Date)")
mydb.close()

ProgrammingError: 1050 (42S01): Table 'pddetails' already exists

In [2]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost",database = "LIC", user = "root",passwd ="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "INSERT INTO POLICY VALUES('1132','SKKK','KHAN','1995-07-03','11', 'A')"
    
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    print("(values inserted into a table!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(values inserted into a table!!

In [49]:
mydb.commit()

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10038 An operation was attempted on something that is not a socket

In [60]:
mydb = connection.connect(host= "localhost",database = "LIC", user= "root",passwd="srk123",use_pure= True) #??????

In [51]:
cur = mydb.cursor()

In [52]:
cur.execute("insert into pddetails values(456,'ssks','2021-05-16')")#yyyy/mm/dd

In [61]:
mydb.commit()

In [54]:
cur.execute("insert into pddetails values(4568,'hdfss','2021-05-16')")#yyyy/mm/dd

In [55]:
import mysql.connector as connection

try:
    mydb = connection.connect(host= "localhost",database = "LIC", user = "root",passwd ="srk123",use_pure= True)
    #chech if the connection is established
    print(mydb.is_connected())
    
    query = "select * from pddetails"
    
    cursor= mydb.cursor() #create a cursor to execute  queries
    cursor.execute(query)
    for results in cursor.fetchall():
        print(results)
    mydb.close()# close the connection
    
except Exception as e:
    #mydb.close()
    print(str(e))

True
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))

In [62]:
cur1 = mydb.cursor()
cur1.execute("select * from pddetails ")

In [63]:
for i in cur1.fetchall():
     print(i)

(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(4568, 'hdfss', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))
(456, 'ssks', datetime.date(2021, 5, 16))

In [64]:
cur1 = mydb.cursor()
cur1.execute("select x1,x2 from pddetails ")

In [65]:
for i in cur1.fetchall():
    print(i)

(456, 'ssks')
(456, 'ssks')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(4568, 'hdfss')
(456, 'ssks')
(456, 'ssks')
(456, 'ssks')
(456, 'ssks')
(456, 'ssks')
(456, 'ssks')

In [66]:
import pandas as pd

In [67]:
mydb

In [70]:
pd.read_sql(" select x1,x2 from LIC.pddetails ",mydb)

      x1     x2
0    456   ssks
1    456   ssks
2   4568  hdfss
3   4568  hdfss
4   4568  hdfss
5   4568  hdfss
6   4568  hdfss
7   4568  hdfss
8   4568  hdfss
9   4568  hdfss
10  4568  hdfss
11   456   ssks
12   456   ssks
13   456   ssks
14   456   ssks
15   456   ssks
16   456   ssks

In [71]:
a = pd.read_sql(" select x1,x2 from LIC.pddetails ",mydb)

In [72]:
a.to_csv("mydata.csv")

In [74]:
mydb = connection.connect(host= "localhost",database = "LIC", user = "root",passwd ="srk123",use_pure= True)
mydb

In [79]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20), n2 varchar(20), n3 Date )")

In [80]:
data = pd.read_csv("mydata.csv")

In [81]:
data

    Unnamed: 0    x1     x2
0            0   456   ssks
1            1   456   ssks
2            2  4568  hdfss
3            3  4568  hdfss
4            4  4568  hdfss
5            5  4568  hdfss
6            6  4568  hdfss
7            7  4568  hdfss
8            8  4568  hdfss
9            9  4568  hdfss
10          10  4568  hdfss
11          11   456   ssks
12          12   456   ssks
13          13   456   ssks
14          14   456   ssks
15          15   456   ssks
16          16   456   ssks

In [84]:
data.to_sql("mydata",mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [ ]:
import mysql.connector as connection
import pandas as pd
import  csv

try:
    mydb = connection.connect(host= "localhost", user = "root",passwd ="srk123",use_pure= True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "create database hotelData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database created!!")
    mydb.close() #close the connection
    
    #established a new connection to the database created above
      mydb = connection.connect(host= "localhost",database = "hotelData", user = "root",passwd ="srk123",use_pure= True)
    # create a new table to store hotel data
    query = "CREATE TABLE IF NOT EXISTS hotelData(index_Number int(20),Ri float(10,5), Mg float(10,5),Na float(20),A1 float(10,5),"\"(
            "Si float (10,5), K float(10,5), ca float(10,5),ba float(10,5) fe float(10,5),class int(5))")
    cursor = mydb.cursor() # creat a cursor to execute quaries
    cursor.execute(query)
    print("Table created!!")
    
    #read from the file
    with open("hotel.Data","r") as f:
        next (f)
        hotel_Data = csv.reader(f, delimiter="\n")
        for line in enumerate(hotel_Data):
            for list_ in (line[1]):
                curser.execute("INSERT INTO hotelData values ({values})".format(values = (list_)))
    print("values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()
    
except Exception as e:
    #mydb.close()
    print(str(e))

In [5]:
import mysql.connector as connection
import pandas as pandas
import  csv
    #check if the connection is established
mydb = connection.connect(host= "localhost", user = "root",passwd ="srk123",use_pure= True)

In [6]:
cur = mydb.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS LIC.hotelData (index_Number INT(10),RI float(10,5), Mg float(10,5),Na float(10,5),A1 float(10,5),"\
            "Si float (10,5), K float(10,5), Ca float(10,5),Ba float(10,5) ,Fe float(10,5),Class INT(5))")

In [36]:
pwd

'C:\\Users\\shahrukh khan'

In [69]:
with open ('hotel.data',"r") as data:
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate (data_csv):
        print(i)
        for j in i[1]:
            cur.execute('insert into LIC.hotelData values({data})'.format(data=(j)))

        print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000002015F797E20>
(0, ['1,1.52101,13.64,4.39,1.10,71.77,0.65,8.75,0.00,0.00,1'])
all the data inserted
(1, ['2,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1'])
all the data inserted
(2, ['3,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.03,0.00,1'])
all the data inserted
(3, ['4,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.09,0.00,1'])
all the data inserted
(4, ['5,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.04,0.00,1'])
all the data inserted
(5, ['6,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.07,0.00,1'])
all the data inserted
(6, ['7,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1'])
all the data inserted
(7, ['8,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1'])
all the data inserted
(8, ['9,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.01,0.00,1'])
all the data inserted
(9, ['10,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.85,0.00,1'])
all the data inserted
(10, ['11,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1'])
all the data inserted
(11, ['12,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1'])
all the data inserted
(12, ['13,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1'])
all the data inserted
(13, ['14,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1'])
all the data inserted
(14, ['15,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.35,0.00,1'])
all the data inserted
(15, ['16,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1'])
all the data inserted
(16, ['17,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1'])
all the data inserted
(17, ['18,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.75,0.00,1 '])
all the data inserted
(18, ['19,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1 '])
all the data inserted
(19, ['20,1.52520,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1  '])
all the data inserted
(20, ['21,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1 '])
all the data inserted
(21, ['22,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.15,0.00,1 '])
all the data inserted
(22, ['23,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1      '])
all the data inserted
(23, ['24,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(24, ['25,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(25, ['26,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(26, ['27,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(27, ['28,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(28, ['29,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(29, ['30,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
all the data inserted
(30, ['31,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1'])
all the data inserted
(31, ['32,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(32, ['33,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(33, ['34,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(34, ['35,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(35, ['36,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(36, ['37,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(37, ['38,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(38, ['39,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(39, ['40,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(40, ['41,1.52521,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  '])
all the data inserted
(41, ['42,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
all the data inserted
(42, ['43,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  '])
all the data inserted

In [81]:
with open ('hotel.data',"r") as data:
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for j in data_csv:
            #cur.execute('insert into LIC.hotelData values({data})'.format(data=(j)))
             print(type(j))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000002015F7EEA00>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
all the data inserted

In [83]:
with open ('hotel.data',"r") as data:
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate (data_csv):
        print(i)
        for j in i[1]:
            print(type(j)) 
            cur.execute('insert into LIC.hotelData values({data})'.format(data=(j)))

        print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000002015F797E20>
(0, ['1,1.52101,13.64,4.39,1.10,71.77,0.65,8.75,0.00,0.00,1'])
<class 'str'>
all the data inserted
(1, ['2,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1'])
<class 'str'>
all the data inserted
(2, ['3,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.03,0.00,1'])
<class 'str'>
all the data inserted
(3, ['4,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.09,0.00,1'])
<class 'str'>
all the data inserted
(4, ['5,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.04,0.00,1'])
<class 'str'>
all the data inserted
(5, ['6,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.07,0.00,1'])
<class 'str'>
all the data inserted
(6, ['7,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1'])
<class 'str'>
all the data inserted
(7, ['8,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1'])
<class 'str'>
all the data inserted
(8, ['9,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.01,0.00,1'])
<class 'str'>
all the data inserted
(9, ['10,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.85,0.00,1'])
<class 'str'>
all the data inserted
(10, ['11,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1'])
<class 'str'>
all the data inserted
(11, ['12,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1'])
<class 'str'>
all the data inserted
(12, ['13,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1'])
<class 'str'>
all the data inserted
(13, ['14,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1'])
<class 'str'>
all the data inserted
(14, ['15,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.35,0.00,1'])
<class 'str'>
all the data inserted
(15, ['16,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1'])
<class 'str'>
all the data inserted
(16, ['17,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1'])
<class 'str'>
all the data inserted
(17, ['18,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.75,0.00,1 '])
<class 'str'>
all the data inserted
(18, ['19,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1 '])
<class 'str'>
all the data inserted
(19, ['20,1.52520,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1  '])
<class 'str'>
all the data inserted
(20, ['21,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1 '])
<class 'str'>
all the data inserted
(21, ['22,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.15,0.00,1 '])
<class 'str'>
all the data inserted
(22, ['23,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1      '])
<class 'str'>
all the data inserted
(23, ['24,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(24, ['25,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(25, ['26,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(26, ['27,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(27, ['28,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(28, ['29,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(29, ['30,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      '])
<class 'str'>
all the data inserted
(30, ['31,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1'])
<class 'str'>
all the data inserted
(31, ['32,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(32, ['33,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(33, ['34,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(34, ['35,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(35, ['36,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(36, ['37,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(37, ['38,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(38, ['39,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(39, ['40,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(40, ['41,1.52521,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  '])
<class 'str'>
all the data inserted
(41, ['42,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 '])
<class 'str'>
all the data inserted
(42, ['43,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  '])
<class 'str'>
all the data inserted

In [92]:
with open ('hotel.data',"r") as data:
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for j in data_csv:
        print(type(str(j)))
        print(j)
        cur.execute('insert into LIC.hotelData values({data})'.format(data=(str(j[0]))))
        #print(type(sttr(j)))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x000002015F838DC0>
<class 'str'>
['1,1.52101,13.64,4.39,1.10,71.77,0.65,8.75,0.00,0.00,1']
<class 'str'>
['2,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1']
<class 'str'>
['3,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.03,0.00,1']
<class 'str'>
['4,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.09,0.00,1']
<class 'str'>
['5,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.04,0.00,1']
<class 'str'>
['6,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.07,0.00,1']
<class 'str'>
['7,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1']
<class 'str'>
['8,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.06,0.00,1']
<class 'str'>
['9,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.01,0.00,1']
<class 'str'>
['10,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.85,0.00,1']
<class 'str'>
['11,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1']
<class 'str'>
['12,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1']
<class 'str'>
['13,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1']
<class 'str'>
['14,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1']
<class 'str'>
['15,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.35,0.00,1']
<class 'str'>
['16,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1']
<class 'str'>
['17,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.95,0.00,1']
<class 'str'>
['18,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.75,0.00,1 ']
<class 'str'>
['19,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.55,0.00,1 ']
<class 'str'>
['20,1.52520,23.64,5.39,2.10,78.77,1.65,8.76,0.45,0.00,1  ']
<class 'str'>
['21,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.65,0.00,1 ']
<class 'str'>
['22,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.15,0.00,1 ']
<class 'str'>
['23,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.02,0.00,1      ']
<class 'str'>
['24,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['25,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['26,1.52581,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['27,1.52591,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['28,1.55501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['29,1.82501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['30,1.92501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1      ']
<class 'str'>
['31,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1']
<class 'str'>
['32,1.54501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['33,1.56501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['34,1.58501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['35,1.57501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['36,1.59501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['37,1.53501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['38,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['39,1.52501,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['40,1.52601,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['41,1.52521,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  ']
<class 'str'>
['42,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1 ']
<class 'str'>
['43,1.52541,23.64,5.39,2.10,78.77,1.65,8.76,0.05,0.00,1  ']
all the data inserted

In [43]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
with open (C:\Users\shahrukh khan)

In [ ]:
https://archive-beta.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+diagnostic

In [ ]:
https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29

In [ ]:
https://archive-beta.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+diagnostic

In [ ]:
https://archive.ics.uci.edu/ml/datasets/Car+Evaluation

In [ ]:
https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [ ]:
import mysql.connector as connection
import pandas as pd
import  csv

try:
    mydb = connection.connect(host= "localhost", user = "root",passwd ="srk123",use_pure= True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "create database hotelData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database created!!")
    mydb.close() #close the connection
    
    #established a new connection to the database created above
      mydb = connection.connect(host= "localhost",database = "hotelData", user = "root",passwd ="srk123",use_pure= True)
    # create a new table to store hotel data
    query = "CREATE TABLE IF NOT EXISTS hotelData(index_Number int(20),Ri float(10,5), Mg float(10,5),Na float(20),A1 float(10,5),"\"(
            "Si float (10,5), K float(10,5), ca float(10,5),ba float(10,5) fe float(10,5),class int(5))")
    cursor = mydb.cursor() # creat a cursor to execute quaries
    cursor.execute(query)
    print("Table created!!")
    
    #read from the file
    with open("hotel.Data","r") as f:
        next (f)
        hotel_Data = csv.reader(f, delimiter="\n")
        for line in enumerate(hotel_Data):
            for list_ in (line[1]):
                curser.execute("INSERT INTO hotelData values ({values})".format(values = (list_)))
    print("values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()
    
except Exception as e:
    #mydb.close()
    print(str(e))